<!-- <div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{ thongbao.tieuDe }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </div>
</div> -->

<div class="container cta-100 ">
  <div class="container">
    <div class="row blog">
      <div class="col-md-12">
        <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">

          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                <div class="col-md-4" >
                  <div class="item-box-blog">
                    <div class="item-box-blog-image">
                      <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">{{ thongbao.thoiGianThongBao | date: 'dd/MM/yyyy' }}</span> </div>
                      <!--Image-->
                      <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                    </div>
                    <div class="item-box-blog-body">
                      <!--Heading-->
                      <div class="item-box-blog-heading">
                        <a href="#" tabindex="0">
                        <h5>{{ thongbao.tieuDe }}</h5>
                        </a>
                      </div>
                      <!--Data-->
                      <div class="item-box-blog-data" style="padding: px 15px;">
                        <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                      </div>
                      <!--Text-->
                      <div class="item-box-blog-text">
                      <p>{{ thongbao.noiDung }}</p>
                      </div>
                      <div class="mt"> <a routerLink="/thongbao" tabindex="0" class="btn bg-blue-ui white read">Trở về</a> </div>
                      <!--Read More Button-->
                    </div>
                  </div>
                </div>
            </div>
            <!--.item-->
          </div>
          <!--.carousel-inner-->
        </div>
        <!--.Carousel-->
      </div>
    </div>
  </div>
</div>
