h3{
    color: rgb(20, 20, 20);
    text-align: center;
}
.bg-white {
    background-color: #fff;
}
.p4 {
    padding: 4rem;
}
.center {
    text-align: center;
}
user agent stylesheet
div {
    display: block;
}
body {
    background-color: #f8f8f8;
    color: #505656;
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 15px;
}
body, html {
    font-size: 16px;
    font-weight: 400;
}
body {
    font-family: Roboto,sans-serif;
    min-height: 100%;
}