<div class="container">
  <h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> BẢNG XẾP HẠNG TOP 100</span></h1>
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input class="search_input" type="text" name="" placeholder="Search...">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-danger">
        <th>Hạng</th>
        <th>Thành viên</th>
        <th>Danh hiệu</th>
        <th>VIP</th>
        <th>Tài sản</th>
        <th>Lượt yêu thích</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-warning">
        <td>1st</td>
        <td>Primary</td>
        <td>Joe</td>
        <td>VIP</td>
        <td>1000$</td>
        <td>100</td>
      </tr>
      <tr class="table-warning">
        <td>2nd</td>
        <td>Success</td>
        <td>Doe</td>
        <td>VIP</td>
        <td>1000$</td>
        <td>100</td>
      </tr>
      <tr class="table-warning">
        <td>3rd</td>
        <td>Danger</td>
        <td>Moe</td>
        <td>VIP</td>
        <td>1000$</td>
        <td>100</td>
      </tr>
      <tr class="table-warning">
        <td>4th</td>
        <td>Info</td>
        <td>Dooley</td>
        <td>VIP</td>
        <td>1000$</td>
        <td>100</td>
      </tr>
      <tr class="table-warning">
        <td>5th</td>
        <td>Warning</td>
        <td>Refs</td>
        <td>VIP</td>
        <td>1000$</td>
        <td>100</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls style="background: rgb(179, 92, 107);" (pageChange)="p = $event"></pagination-controls>
</div>
