.container-fluid h1 a {
    margin-left: 3em;
    text-decoration: none;
    color: pink;
    font-family: cursive;
}

.container {
    background: whitesmoke;
    padding: 0;
}

.nav-item {
    height: 100%;
    margin: 5px;
}

.nav-item a {
    text-decoration: none;
    font-family: Galano;
    color: black;
    font-weight: bold;
    font-size: 23px;
}

.nav-item a:hover {
    color: pink;
}

.container-fluid {
    padding: 0;
    width: 100%;
}

.navbar {
    padding: 0;
    border-radius: 3px;
}

.pink {
    background: pink;
}

.pink a {
    color: white;
}

.pink:hover {
    background: black;
}

div.collapse .navbar-collapse {
    padding: 0;
    height: 100%;
    margin: 0;
}

ul.collapse .navbar-collapse li {
    height: 100%;
}

.navbar-nav {
    margin-right: 5em;
}