.ad {
    background-color: whitesmoke;
}

.navbar-nav {
    margin-left: 55%;
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

a.b {
    padding: 7%;
    margin-bottom: 3%;
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}

.nav-link {
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.list-group {
    background-color: white;
}
