<div class="cotainer">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header title text-md-center title111 ">Xem Bài Đăng</div>
        <div class="card-body">
          <form name="my-form" >
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-uppercase text-md-right">Người Đăng:</label>
              <label class="col-md-3 col-form-label text-md-right"><a href="#">Gà Con</a></label>
              <label class="col-md-2 col-form-label text-md-right" ><a href="#">Edit</a></label>
              <label class="col-md-2 col-form-label text-md-right" ><a href="#">Delete</a></label>
            </div>
            <div class="form-group row">
              <label  class="col-md-4 col-form-label text-uppercase text-md-right">Ngày Đăng:</label>
              <label  class="col-md-3 col-form-label text-md-right">20/11/2019</label>
            </div>
            <div style="position: relative; left: 0%; " id="sample">
              <h4>(Nhận định bóng đá, U23 Việt Nam - U23 Jordan, 20h15, 13/1)</h4>
              <p>U23 Việt Nam và U23 Jordan gặp nhau ở lượt trận thứ hai
                của vòng bảng U23 châu Á 2020.
                Đội nào giành chiến thắng sẽ rộng cửa lọt vào vòng knock-out.</p>
            </div>
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-info">
                Quay Lại
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>








