<form class="contact100-form">
    <h1 class="contact100-form-title">
        Thư đến
    </h1>


    <div class="wrap-input100 ">
        <label class="label-input100">Tiêu đề</label>
        <input id="name" class="input100" type="text" name="name">
    </div>

    <div class="wrap-input100 ">
        <label class="label-input100" for="message">Nội dung</label>
        <textarea id="message" class="input100" name="message"></textarea>
    </div>
    <div>
        <div>
            <h3 class="contact100-form-btn">
                Trả lời
            </h3>
        </div>
        <div>
            <h3 class="contact100-form-btn">
                Trở về hộp thư
            </h3>
        </div>
    </div>

</form>