
.main{
  height: 550px;
  align-content: center;
  background-image: url('https://images.unsplash.com/photo-1568794278603-e653ddb74098?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}


.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(156, 151, 151, 0.103) !important;
// background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
// color: #FFC312;
color: rgba(235, 155, 168, 0.993);
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
// background-color: #FFC312;
background-color: rgba(235, 155, 168, 0.993);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
// background-color: #FFC312;
background-color: rgba(236, 83, 108, 0.993);
width: 100px;
border-radius: 0.8rem;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

