<section class="wao-register-main">
  <div class="container container-smaller">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <form class="wao-form" action="">
          <div class="wao-form__row wao-form__header br-8">
            <p class="h3">Khởi Tạo Thông Tin</p>
          </div>
          <div class="wao-form__row wao-form__body br-8">
            <div class="wao-form__body-container">
              <div class="row">
                
                <div class="col-12 form-group">
                    <label>Ảnh đại diện</label>
                    <input type='file' onchange="readURL(this);" />
                    <img id="blah" src="http://placehold.it/180" alt="your image" />
                </div>
              </div>
            </div>
          </div>

          <b>Mong các bạn trả lời các câu hỏi để web hoạt động hiệu quả hơn</b>
           <br>&nbsp;
          <div class="col-md-6 form-group">
              <b>Tình trạng hôn nhân</b>
              <br>

              <input type="radio" id="ĐộcThân"> Độc thân
              <br>
            
              <input type="radio" id="KếtHôn"> Đã kết hôn
          </div>

          

          <div class="col-12 form-group">
              <b>Mục đích tham gia:</b>
          </div>

          <div class="wao-form__noted">
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Tìm bạn bè Và giao tiếp</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Giao tiếp</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Tình yêu,quan hệ lãng mạn</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Vì tiền</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Hôn nhân</label>
          </div>

          <div class="wao-form__btnGroup">
            <div class="row">
              <div class="col-md-6">
                <input type="submit" value="Xong" >
               
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="sidebar-left d-none d-lg-block mt-20">

                
