<section class="wao-register-main">
  <div class="container container-smaller">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <form class="wao-form" action="">
          <div class="wao-form__row wao-form__header br-8">
            <p class="h3">Khởi Tạo Thông Tin</p>
          </div>
          <div class="wao-form__row wao-form__body br-8">
            <div class="wao-form__body-container">
              <div class="row">
                
                <div class="col-12 form-group">
                    <label>Ảnh Đại Diện</label>
                    <img src="assets/images/images8.jpg" height="80" width="100"/>
                    <br>
                    <input type="submit" value="Tải Ảnh Lên" >
                </div>
              </div>
            </div>
          </div>

          <b>Mong Các Bạn Trả Lời Các Câu Hỏi Để Web Hoạt Động Hiệu Quả Hơn</b>
           <br>&nbsp;
          <div class="col-md-6 form-group">
              <b>Tình Trạng Hôn Nhân</b>
              <br>

              <input type="radio" id="ĐộcThân"> ĐộcThân
              <br>
            
              <input type="radio" id="KếtHôn"> Đã Kết Hôn
          </div>

          

          <div class="col-12 form-group">
              <b>Mục Đích Tham Gia:</b>
          </div>

          <div class="wao-form__noted">
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Tìm Bạn Bè Và Giao Tiếp</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Giao Tiếp</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Tình Yêu,Quan Hệ Lãng Mạn</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Vì Tiền</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Hôn Nhân</label>
          </div>

          <div class="wao-form__btnGroup">
            <div class="row">
              <div class="col-md-6">
                <input type="submit" value="Xong" style="background-color: blue;">
               
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="sidebar-left d-none d-lg-block mt-20">

                
