<section class="wao-register-main">
  <div class="container container-smaller">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <form class="wao-form" action="">
          <div class="wao-form__row wao-form__header br-8">
            <p class="h3">Khởi Tạo Thông Tin</p>
          </div>
          <div class="wao-form__row wao-form__body br-8">
            <div class="wao-form__body-container">
              <div class="row">
                
                <div class="col-12 form-group">
                  <label>Ảnh đại diện</label>
                  <input type='file' onchange="readURL(this);" />
                  <img id="blah" src="http://placehold.it/180" alt="your image" />
                </div>
              </div>
            </div>
          </div>

          <b>Mong Các Bạn Trả Lời Các Câu Hỏi Để Web Hoạt Động Hiệu Quả Hơn</b>
           <br>&nbsp;
          <div class="col-md-12 form-group">
              <b>Tình Trạng Hôn Nhân</b>
               &nbsp;
              <input type="radio" id="ĐộcThân"> ĐộcThân
               &nbsp;
              <input type="radio" id="KếtHôn"> Đã Kết Hôn
          </div>

          

          <div class="col-12 form-group">
              <b>Mục Đích Tham Gia:</b>
          </div>

          <div class="col-12 form-group">
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Tìm Bạn Bè Và Giao Tiếp</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Giao Tiếp</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Tình Yêu,Quan Hệ Lãng Mạn</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Vì Tiền</label>
            <br>
            <input type="checkbox" id="cb_aggreeTerm">
            <label for="">Hôn Nhân</label>
          </div>

          <div class="wao-form__btnGroup">
            <div class="row">
              <div class="col-md-6">
                <input type="submit" value="Xong" style="background-color: blue;">
               
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="sidebar-left d-none d-lg-block mt-20">

                
