<div class="row justify-content-between">
    <h2>Phản hồi</h2>
    <div class="d-flex">
        <input class="form-control" type="text" placeholder="Tìm kiếm theo tên">
        <button class="btn btn-outline-success">Tìm kiếm</button>
    </div>
</div>
<div class="row mt-5">
    <div class="d-flex border rounded p-2 align-items-center" style="background: white;">
        <h5>Hiển thị phản hồi:</h5>
        <div style="margin-left: 15px;" class="d-flex align-items-center">
            <p style="margin-bottom:0">
                <input type="radio" id="test1" name="radio-group" checked>
                <label style="margin-right: 10px;" for="test1">Tất cả</label>
            </p>
            <p style="margin:0">
                <input type="radio" id="test2" name="radio-group">
                <label style="margin-right: 10px;" for="test2">Đã xử lý</label>
            </p>
            <p style="margin:0">
                <input type="radio" id="test3" name="radio-group">
                <label for="test3">Chưa xử lý</label>
            </p>
        </div>
    </div>
    <table class="table table-hover mt-2 border rounded" style="background: white;">
        <thead>
            <tr>
                <th scope="col">Thành viên gửi</th>
                <th scope="col">Thành viên vi phạm</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Ngày gửi</th>
                <th scope="col">Xử lý</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>

                </td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>

                </td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">
                </td>
                <td>@twitter</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
