<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <h2 style="color: royalblue;">Hội hẹn hò</h2>
    </div>
    <div class="col-3">
      <a href="#" class="col btn btn-pink-moon">Hủy nhóm</a>
    </div>
    <div class="col-4">
      <a href="#" class="col btn btn-pink-moon">Cảnh báo nhóm</a>
    </div>
  </div>
  <br>
  <div class="col">
    <div class="col-5">
      <textarea disabled class="border-dark" rows="5" cols="50">text</textarea>
    </div>
    <div>
      <textarea disabled class="border-dark" rows="5" cols="50">text</textarea>
    </div>
  </div>
</div>
