.btn-pink-moon {
  background: #ec008c;
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
  background: linear-gradient(to right, #fc6767, #ec008c);
  color: #fff;
  border: 3px solid #eee;
  color: pink;

}
.bg{
  background-color:pink;
}
a:hover{
  color: brown;
}
.boder{
  border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border: none;
}
p{
  text-align: center;
}
nav{
  text-align: center;
}
