<br>
<br>
<div class="container">
  <h2>Chi Tiết Hội Nhóm</h2><br>
  <br>
  <div>
   Admin: <img class="bgImg" src="https://images.unsplash.com/photo-1578165219176-ece04edbd053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
  </div>
  <br>
  <div>
    Thành Viên: <img class="bgImg" src="https://images.unsplash.com/photo-1578165219176-ece04edbd053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <a href="#" class="col btn btn-pink-moon">Chi Tiết Hội Nhóm</a>
  </div>
</div>
