<nav class="navbar navbar-expand-md sticky-top" style="background: white">
  <div class="container-fluid">
    <h2><a href="#">hẹn hò</a></h2>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <div>
          <li class="nav-item">
            <a href="#">Trang chủ</a>
          </li>
        </div>
        <div>
          <li class="nav-item">
            <a href="#">Thông báo</a>
          </li>
        </div>
        <div>
          <li class="nav-item">
            <a href="#"> Giới thiệu </a>
          </li>
        </div>
        <div class="pink">
          <li class="nav-item">
            <a href="#">Liên hệ</a>
          </li>
        </div>
        <div>
          <li>
            <a></a>
          </li>
        </div>
      </ul>

    </div>

  </div>
</nav>
