<div class=" pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h2>Giới thiệu</h2>
                <p class="pr-5 text-black-50">Hẹn hò là website giúp những bạn trẻ tìm được một nửa của mình, cũng có thể giao lưu kết bạn với rất nhiều người khác. Nếu bạn đang độc thân và muốn tìm thấy mảnh ghép còn lại của cuộc đời mình, hãy đến với “Hẹn hò”. </p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Liên hệ</h4>
                <ul class="m-0 p-0">
                    <li>
                        <a href="#">Facebook <i class='fab'>&#xf09a;</i></a>
                    </li>
                    <li>
                        <a href="#">Gmail<i class='fab'>&#xf0d5;</i></a>
                    </li>
                    <li>
                        <a href="#">Gihub<i class='fab'>	&#xf09b;</i></a>
                    </li>
                    <li>
                        <a href="#">Twiter<i class='fab'>&#xf099;</i></a>
                    </li>
                    <li>
                        <a href="#">Youtuber<i class='fab'>&#xf167;</i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Địa chỉ</h4>
                <p>295, Nguyễn Tất Thành, Đà Nẵng</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+84) 123456789</p>
                <p><i class="fa fa-envelope-o mr-3"></i>info@codegym.com</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-black-50">© 2019. All Rights Reserved CodegymDaNang</small></p>
            </div>
        </div>
    </div>
</div>