
<section class="wao-register-main">
    <div class="container container-smaller">
      <div class="row">
        <div class="col-md-8">
          <form class="wao-form" action="">
            <div class="wao-form__row wao-form__header br-8">
              <p class="h3">Đăng ký</p>
            </div>
            <div class="wao-form__row wao-form__body br-8">
              <div class="wao-form__body-container">
                <div class="row">
  
                  <div class="col-8 form-group">
                      <label>Tên của bạn</label>
                      <input class="form-control" type="text" id="txtFullname__site">
                  </div>
  
                  <div class="col-md-6 form-group">
                      <label>Email</label>
                      <input class="form-control" type="email" id="txtEmail__site">
                  </div>
  
                  <div class="col-md-6 form-group">
                    <label>Xác Nhận Email</label>
                    <input class="form-control" type="email" id="txtEmail__site">
                </div>
  
                  <div class="col-md-4 form-group">
                    <label>Ngày Sinh</label>
                    <input class="form-control" type="date" id="txtNgaySinh__site">
                </div>
                
                  <div class="col-md-4 form-group">
                    <label>Giới tính</label>
                    <div class="form-select">
                      <select class="form-control select2" id="txtGender__site">
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                      </select>
                    </div>
                  </div>
  
                  <div class="col-md-6 form-group">
                      <label>Nghề Nghiệp</label>
                      <input class="form-control" type="text" id="txtNgheNghiep__site">
                  </div>
  
                  <div class="col-md-6 form-group">
                    <label>Địa Chỉ</label>
                    <input class="form-control" type="text" id="txtNgheNghiep__site">
                  </div>
  
                  <div class="col-md-6 form-group">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" id="txtPassword__site">
                  </div>
  
                  <div class="col-md-6 form-group">
                    <label>Nhắc lại mật khẩu</label>
                    <input class="form-control" type="password" id="txtPasswordConfirm__site">
                  </div>
                </div>
              </div>
            </div>
  
            <div class="wao-form__noted">
              <input type="checkbox" id="cb_aggreeTerm">
              <label for="">Bằng việc nhấn vào nút đăng ký, tôi đã đồng ý với <a href="">Điều Khoản Sử Dụng </a>và <a href="dieukhoan.html">Chính Sách Bảo Mật </a>của HenHo</label>
            </div>
  
            <div class="wao-form__btnGroup">
              <div class="row">
                <div class="col-md-6">
                  <button class="wao-form__btn wao-form__btn--danger wao-form__btn--disable br-8" type="button" style="color: blue;">Đăng ký</button>
                  &nbsp;
                  <button class="wao-form__btn wao-form__btn--danger wao-form__btn--disable br-8" type="submit" style="color: darkcyan;">Hủy Bỏ</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="sidebar-left d-none d-lg-block mt-20">
  
