<form class="contact100-form">
    <h1 class="contact100-form-title">
        Gửi thư
    </h1>
    <div class="wrap-input100 ">
        <label class="label-input100">Người gửi</label>
        <input id="name" class="input100" type="text" name="name" placeholder="Chọn người gửi...">
    </div>
    <div class="wrap-input100 ">
        <label class="label-input100">Người nhận</label>
        <input id="name" class="input100" type="text" name="name" placeholder="Nhập người nhận...">
    </div>

    <div class="wrap-input100 ">
        <label class="label-input100">Tiêu đề</label>
        <input id="name" class="input100" type="text" name="name" placeholder="Nhập tiêu đề thư...">
    </div>

    <div class="wrap-input100 ">
        <label class="label-input100" for="message">Nội dung</label>
        <textarea id="message" class="input100" name="message"
            placeholder="Nhập nội dung thư tại đây..."></textarea>
    </div>

    <div class="center">
        <h3 class="contact100-form-btn">
            Send
        </h3>
    </div>
</form>