<div class="cotainer">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header title111 text-md-center">Sửa Bài Đăng</div>
        <div class="card-body">
          <form name="my-form" >
            <div class="form-group row">
              <label class="col-md-4 col-form-label  text-uppercase text-md-right">Người Đăng:</label>
              <label class="col-md-2 col-form-label  text-md-right">Gà con</label>
            </div>
            <div class="form-group row">
              <label for="full_name" class="col-md-4  text-uppercase col-form-label text-md-right">Tiêu Đề:</label>
              <div class="col-md-6">
                <input type="text" id="full_name" class="form-control" name="full-name">
              </div>
            </div>
            <div style="position: relative; left: 15%;" id="sample">
                <textarea placeholder="Nội dung" name="area" class="purple-border" id="area" style="width:70%;height:200px;">
                </textarea>
            </div>
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-info">
                Đăng Bài Ngay
              </button>
              <button type="submit" class="btn btn-danger">
                Huỷ
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>








