<form>
  <div class="f-grid row">
    <div class="f-grid-col col-md-3" style="text-align: center;">
      <div>
        <button type="button" class="btn btn-info btn-lg" (click)="openGuiThu()"> <i class='far fa-paper-plane'></i>Gửi
          thư</button>
      </div>

      <div style="margin-top: 1em;">
        <button type="button" class="btn btn-info btn-lg" (click)="hopthu()" data-target="#exampleModalHopThu"
          data-whatever="@getbootstrap"><i class='fas fa-envelope'></i> Hộp thư</button>
      </div>
      <div style="margin-top: 1em;">
        <button type="button" class="btn btn-info btn-lg" data-whatever="@getbootstrap"><i
            class="fa fa-envelope-open"></i> Thư đã đọc</button>
      </div>
      <div style="margin-top: 1em;">
        <button type="button" class="btn btn-info btn-lg" data-whatever="@getbootstrap"><i class="fa fa-envelope"></i>
          Thư chưa đọc</button>
      </div>
      <div style="margin-top: 1em;">
        <button type="button" class="btn btn-info btn-lg" data-whatever="@getbootstrap"><i
            class="fa fa-envelope-open"></i> Thư đã gửi</button>
      </div>

      <div style="margin-top: 1em;">
        <button type="button" class="btn btn-info btn-lg" data-whatever="@getbootstrap"><i
            class="fa fa-envelope-open"></i> Thư đã nhận</button>
      </div>
      <div style="margin-top: 1em;">
        <button type="button" class="btn btn-info btn-lg" data-whatever="@getbootstrap"><i class="fa fa-trash-o"></i>
          Xóa thư đã chọn</button>
      </div>

    </div>
    <div class="f-grid-col2 col-md-9" id="exampleModalHopThu">
      <h1 style="text-align: center;">Hộp Thư</h1>
      <div>
        <button type="button" class="btn btn-info btn-lg" (click)="openGuiThu()" style="margin-bottom: 5px;"> <i class='far fa-paper-plane'></i>Gửi
          thư</button>
      </div>
      <!-- radiobutton -->
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-info active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Tất cả thư
        </label>
        <label class="btn btn-info">
          <input type="radio" name="options" id="option2" autocomplete="off"> Thư đã xem
        </label>
        <label class="btn btn-info">
          <input type="radio" name="options" id="option3" autocomplete="off"> Thư chưa xem
        </label>
        <label class="btn btn-info">
          <input type="radio" name="options" id="option3" autocomplete="off"> Thư đã gửi
        </label>
        <label class="btn btn-info">
          <input type="radio" name="options" id="option3" autocomplete="off"> Thư đã nhận
        </label>
      </div>
      <!-- radiobutton -->
      <table class="table table-hover">
        <thead>
          <tr style="background-color: rgb(118, 118, 231);">
            <th scope="col">Chọn <br><input type="checkbox" onClick="selectall(this) " class="size" /></th>
            <th scope="col">Avatar</th>
            <th scope="col">Tên người gửi</th>
            <th scope="col">Tiêu đề thư</th>
            <th scope="col">Chi tiết</th>
            <th scope="col">Xóa thư <br>
            </th>
          </tr>
        </thead>

        <tr *ngFor="let temp of thu | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td> <input type="checkbox" name="foo" value="{{temp}}" class="size"><br /></td>
          <td> <img src="{{temp.thanhVienGui.anhDaiDien}}" alt="Avatar" class="avatar"></td>
          <td>{{temp.thanhVienGui.hoTen}}</td>
          <td>
            {{temp.tieuDe}}
          </td>
          <td>
            <a style="cursor: pointer; color: rgb(31, 187, 51);" (click)="xemthu(temp.idThu)"><i
                class="fa fa-search"></i> </a>
          </td>
          <td>
            <a style="cursor: pointer; color: red;" (click)="deleteThu(temp.idThu)"><i class="fa fa-trash-o"></i> </a>
          </td>
        </tr>
      </table>
      <pagination-controls (pageChange)="p = $event" style="color: rgb(118, 118, 231);"></pagination-controls>
    </div>
  </div>
</form>