<form style="text-align: center; width: 50%;">
    <h1 style="font-family: monospace;"> Quản lý hộp thư</h1>
    <div>
        <button type="button" class="btn btn-danger">Hộp thư</button>
        <button type="button" class="btn btn-danger">Thư đã đọc</button>
        <button type="button" class="btn btn-danger">Gửi thư</button>
        <button type="button" class="btn btn-danger">Xóa thư</button>
    </div>

  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Avatar</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Tiêu đề thư</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tr>
                <td> <img src="https://cdn1.vectorstock.com/i/1000x1000/19/45/user-avatar-icon-sign-symbol-vector-4001945.jpg" alt="Avatar" class="avatar"></td>
                <td>Mark</td>
                <td><input></td> 
                <td>  <input type="checkbox" class="size"></td> 
         
            </tr>
            <tr>
                <td> <img src="https://cdn1.vectorstock.com/i/1000x1000/19/45/user-avatar-icon-sign-symbol-vector-4001945.jpg" alt="Avatar" class="avatar"></td>
                <td>Dương</td>
                <td><input></td>
                <td>  <input type="checkbox" class="size"></td> 
            </tr>
            <tr>
                <td> <img src="https://cdn1.vectorstock.com/i/1000x1000/19/45/user-avatar-icon-sign-symbol-vector-4001945.jpg" alt="Avatar" class="avatar"></td>
                <td>Thanh</td>
                <td><input></td>
                <td>  <input type="checkbox" class="size"></td> 
            </tr>
            <tr>
                <td> <img src="https://cdn1.vectorstock.com/i/1000x1000/19/45/user-avatar-icon-sign-symbol-vector-4001945.jpg" alt="Avatar" class="avatar"></td>
                <td>Hoàng</td>
                <td><input></td>
                <td><input type="checkbox" class="size"></td> 
            </tr>
        </table>
  

</form>